body
{
background-color:black;
font-size:100%;
font-family:"Comic Sans MS", cursive, sans-serif;
font-variant:small-caps;
}   

#container
{
background-color:menu;
border: 3px solid grey;
height: 300px;
margin: 10% 30%;
padding: 5px 10px;
width: 400px;
}

.fontandalign
{
font-family:"Comic Sans MS", cursive, sans-serif;
font-variant:small-caps;
text-align:center;
}
